.modal-body {
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.input-code {
  padding: 5px;
  width: 45px;
  height: 45px;
  margin: 10px 5px;
  border: 2px solid #eff0f1;
  border-radius: 7px;
}
