body{
  background-color: #fff;
  overflow: unset;
}
.b-table .table-wrapper.has-sticky-header{
  height: 480px;
}
.is-invalid .theme--light.v-label,span.text-error{
  color: #ff3d00;
}
span.text-error{
  font-size: 12px;
  /* background: #ffe2e2;
  border-radius: 5px;
  padding: 5px; */
}
.custom-alert {
  padding: 0.25rem 0.25rem;
}
.cursor{
  cursor: pointer;
}
