body{
  background-color: #fff;
}
.b-table .table-wrapper.has-sticky-header{
  height: 480px;
}
.is-invalid{
  border: 1px solid #dc3545;
  border-radius: 5px;
}
p.text-danger{
  background: #ffe2e2;
  padding: 5px;
  border-radius: 5px;
}
